@model MLInt.Models.UploadModel

<h2>Upload a File</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="uploadedFile" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

